body{
    background: white;
    margin: 0px;
}
.menu{
    width: 100%;
    background: white;
    overflow: auto;
    
}
.menu ul{
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 60px;
    
}
.menu li{
    float: left;
    
}
.menu ul li a{
    background: white;
    text-decoration: none;
    width: 150px;
    display: block;
    text-align: center;
    color: #006666;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 0.5px;
    
}
.menu li a:hover{
    color: lightcoral;
    opacity: 0.5px;
    font-size: 19px;
}
.search {
    margin-top: -45px;
    float: right;
    margin-right: 100px;
}
input[ type=text ]{
    padding: 7px;
    border: none;
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.search-button{
    float: right;
    background: orange;
    color: white;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    position: relative;
    padding: 7px;
    border: none;
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}


#topCenter{
 text-align: center;   
}
#topCenter p{
    background-color: #176f56;
    color: white;
    margin: 0;
    padding: 10px;
}
#p2{
    padding:6px;
}
#topCenter img{
    margin: 0px;
    padding: 5px;
}
.r1{
    width: 100%;
    margin-top: 20px;
}
.r1 p{
    margin: 0;
    padding: 10px;
}
.r1 p a{
    position: relative;
    left: 85px;
    text-decoration: none;
    color: black;
}
.r1 p:hover{
    border: 1px solid black;
}
body{
    background: white;
    margin: 0px;
}
.menu{
    width: 100%;
    background: white;
    overflow: auto;
    
}
.menu ul{
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 60px;
    
}
.menu li{
    float: left;
    
}
.menu ul li a{
    background: white;
    text-decoration: none;
    width: 150px;
    display: block;
    text-align: center;
    color: #006666;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 0.5px;
    
}
.menu li a:hover{
    color: lightcoral;
    opacity: 0.5px;
    font-size: 19px;
}

#topCenter{
 text-align: center;   
}
#topCenter p{
    background-color: #176f56;
    color: white;
    margin: 0;
    padding: 10px;
}
#p2{
    padding:6px;
}
#topCenter img{
    margin: 0px;
    padding: 5px;
}
.r1{
    width: 100%;
    margin-top: 20px;
}
.r1 p{
    margin: 0;
    padding: 10px;
}
.r1 p a{
    position: relative;
    left: 85px;
    text-decoration: none;
    color: black;
}
.r1 p:hover{
    border: 1px solid black;
}




.footer{
    padding: 40px 0;
    background-color: gray;
}
.footer .social{
    text-align: center;
    padding-bottom: 25px;
    color: black;
}
.footer .social a{
    font-size: 24px;
    color: inherit;
    border: 1px solid;
    width: 50px;
    height: 50px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    margin: 1px;
    opacity: 0.75;
}
.footer .social a:hover{
    opacity: 0.9;
}
.footer ul{
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}
.footer ul li a{
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}
.footer ul li{
    display: inline-block;
    padding: 0 15px;
}
.footer ul li a:hover{
    opacity: 1;
}
.footer .copyright{
    margin-top: 15px;
    text-align: center;
    font-size: 15px;
    color: #006666;
}
.footer{
    padding: 40px 0;
    background-color: gray;
}
.footer .social{
    text-align: center;
    padding-bottom: 25px;
    color: black;
}
.footer .social a{
    font-size: 24px;
    color: inherit;
    border: 1px solid;
    width: 50px;
    height: 50px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    margin: 1px;
    opacity: 0.75;
}
.footer .social a:hover{
    opacity: 0.9;
}
.footer ul{
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}
.footer ul li a{
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}
.footer ul li{
    display: inline-block;
    padding: 0 15px;
}
.footer ul li a:hover{
    opacity: 1;
}
.footer .copyright{
    margin-top: 15px;
    text-align: center;
    font-size: 15px;
    color: #006666;
}