body{
    background: white;
    margin: 0px;
}
.menu{
    width: 100%;
    background: white;
    overflow: auto;
    
}
.menu ul{
    margin: 20;
    padding: 10;
    list-style: none;
    line-height: 60px;
    
}
.menu li{
    float: left;
    
}
.menu ul li a{
    background: white;
    text-decoration: none;
    width: 150px;
    display: block;
    text-align: center;
    color: #006666;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 0.5px;
    
}
.menu li a:hover{
    color: lightcoral;
    opacity: 0.5px;
    font-size: 19px;
}

.c1{
    background-color: #006666;
    background-repeat:repeat-y;
    background-size: contain;
    color: white;
    height: 300px;
    text-size-adjust: 1px;
}
.p1{
    text-align:left;
}
h1{
    color: snow;
    text-align: center;
    text-shadow: 3px 3px 5px darkblue;
}
#newA{
    color: #ff0028;
    text-align: center;
    text-shadow: 3px 3px 5px #a1a1a5;
}

.imgslider {
    display:none;                                       
}

#slidediv{
    padding-bottom: 50px;
    padding-top: 50px;          
}

.title{
    
    background: #006666;
    color: white;
    cursor: pointer;
    position: relative;
    padding: 7px;
    border: none;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    
}

.heading{
    text-align: center;
    font-size: 30px;
    margin: 0;
    padding-top: 10px;
}
.card{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}
.content{
    width: 20%;
    margin: 15px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    padding-top: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    transition: .4s;
    background: gray;
}
.content:hover{
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transform: translate(0px, -8px);
}
.img{
    text-align: center;
    margin: 0 auto;
    display: block;
    width: 200px;
    height: 200px;
}
#customer{
    text-align: center;
    font-size: 24px;
    color: white;
    width: 100%;
    padding: 15px;
    border: 0;
    outline: none;
    cursor: pointer;
    margin-top: 5px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background: #006666;
}
#business{
    text-align: center;
    font-size: 24px;
    color: white;
    width: 100%;
    padding: 15px;
    border: 0;
    outline: none;
    cursor: pointer;
    margin-top: 5px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background: #006666;
}
#career{
    text-align: center;
    font-size: 24px;
    color: white;
    width: 100%;
    padding: 15px;
    border: 0;
    outline: none;
    cursor: pointer;
    margin-top: 5px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background: #006666;
}

.cardlnk{
    text-decoration: none;
    color: inherit;
}

.footer{
    padding: 40px 0;
    background-color: gray;
}
.footer .social{
    text-align: center;
    padding-bottom: 25px;
    color: black;
}
.footer .social a{
    font-size: 24px;
    color: inherit;
    border: 1px solid;
    width: 50px;
    height: 50px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    margin: 1px;
    opacity: 0.75;
}
.footer .social a:hover{
    opacity: 0.9;
}
.footer ul{
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}
.footer ul li a{
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}
.footer ul li{
    display: inline-block;
    padding: 0 15px;
}
.footer ul li a:hover{
    opacity: 1;
}
.footer .copyright{
    margin-top: 15px;
    text-align: center;
    font-size: 15px;
    color: #006666;
}

marquee{
    font-size: 20px;
    color: #006666;
}